<h1><%= @article.title %></h1>

<p><%= @article.description %></p>
<%= form_with model: [:me, @article, @comment], remote: true do |f|%>
	<%= f.label :content %><br>
    <%= f.text_field :content, id: "message_content" %><br>
    <div>
     <%= f.submit %>
    </div>
<% end %>
<%= render 'comments' %>
